server:
  port: 8083

spring:
  mvc:
    problemdetails:
      enabled: true
  servlet:
    multipart:
      max-file-size: 8MB
      max-request-size: 8MB

grpc:
  server:
    host: 40.233.72.243
    port: 50051
